.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
}

.top {
    margin-top: 30px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: -40px;
}

.ghost {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: #EDEDED;
    border: 1px solid #BFC0C0;
    border-bottom: none;
    animation: float 2s ease-out infinite;
}

.ghost-copy {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: #EDEDED;
    border: 1px solid #BFC0C0;
    border-bottom: none;
    animation: float 2s ease-out infinite;
    z-index: 0;
}


.face {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
}
.eye, .eye-right {
    position: absolute;
    background: #585959;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 40%;
}

.eye {
    left: 25%;
}
.eye-right {
    right: 25%;
}

.mouth {
    position:absolute;
    top: 50%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent #585959 #585959 transparent;
    transform: rotate(45deg);
}

.one, .two, .three, .four {
    position: absolute;
    background: #EDEDED;
    top: 85%;
    width: 25%;
    height: 23%;
    border: 1px solid #BFC0C0;
    z-index: 0;
}

.one {
    border-radius: 0 0 100% 30%;
    left: -1px;
}

.two {
    left: 23%;
    border-radius: 0 0 50% 50%;
}

.three {
    left: 50%;
    border-radius: 0 0 50% 50%;
}

.four {
    left: 74.5%;
    border-radius: 0 0 30% 100%;
}

.shadow {
    position: absolute;
    width: 30%;
    height: 7%;
    background: #BFC0C0;
    left: 35%;
    top: 80%;
    border-radius: 50%;
    animation: scale 2s infinite;
}

body {
    background: darkgray;
}

.bottom {
    margin-top: 10px;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float {
    50% {
        transform: translateY(15px);
    }
}

/*======================
    404 page
=======================*/
