@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap);


body {
    font-family: "Poppins", sans-serif !important;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(246, 241, 241) 100%) !important;
}

.c-image {
    object-fit: cover;
    height: 450px;
    filter: brightness(75%);
}

.c-title {
    color: white;
    font-size: 5rem;
    margin-right: 650px;
}

.logout-btn {
    font-size: 0.8rem;
    margin-left: 6px;
}

.welcome-title {
    margin-top: 50px;
    margin-bottom: 25px;
}

.create-package{
    margin-right: 650px;
    margin-bottom: 140px;

}

.package-form{
    width: 900px;
    height: auto;
    margin-left: 27%;
    margin-top: 50px;

}

.form-holder{
    padding: 10px;
}

.create-btn{
    margin-left: 550px;
}

.page-footer{

    width: 100%;
    height: 100px;
    line-height: 60px;
}

.price-tag{
    font-weight: bold;

}

.pill{
    color: black;
    background-color: #30a444;
    font-weight: bold;
}

.alert-message {
    text-align: center;
}

.recent-packages {
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.recent-packages-table {
    margin-top: 30px;
}

.drivers-list{
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.title-add {
    height: 100%;
    width: 100%;
    display: flex;
}

.title-in-add {
    width: 80%;
}

.btn-in-add {
    width: 20%;
}

.btn-in-add:hover {
    color: white !important;
}

.add-driver-btn{
    margin-top: 20px;
    margin-left: 530px;

}

.txt-in-box{
    width: 20%;
    text-align: right;
}

.driver-details-tacking{
    margin-top: 20px;
    margin-left: 15px;
}


/*<!---->tracking*/

.bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: #878788;
    padding-left: 0px;
    margin-top: 30px
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #878788;
    text-align: center
}

.bs4-order-tracking li:first-child:before {
    margin-left: 15px !important;
    padding-left: 11px !important;
    text-align: left !important
}

.bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #878788;
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li:after {
    content: '';
    width: 150%;
    height: 2px;
    background: #878788;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1
}

.bs4-order-tracking li:first-child:after {
    left: 50%
}

.bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 0% !important
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: black;
}

.bs4-order-tracking li.active>div {
    background: #f76e40;
}

.bs4-order-tracking li.active:after {
    background: #f76e40;
}

.card-timeline {
    background-color: #fff;
    z-index: 0
}